<% provide(:title, @event.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="event_info">
      <h1>
        <%= @event.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @event.alumni.any? %>
      <h3> Alumni (<%= @event.alumni.count %>)</h3>
      <ol class="checkins">
        <%= render @event.alumni %>
      </ol>
    <% end %>
  </div>
</div>
