<% provide(:title, "View Attendance") %>
<div class="row">
  <aside class="col-md-4">
    <section class="alumnus_info">
      <h1>
        <%= @attendance.alumnus_id %>
        <%= @attendance.event_id %>
        <%= @attendance.description %>
        <%= link_to "delete", @attendance, method: :delete,
                                  data: { confirm: "You sure?" } %>
      </h1>
    </section>
  </aside>
</div>
